html {
    background-color: antiquewhite;
}

h1 {
    color: darkslateblue;
}

#main {
    color: blueviolet;
}

p[draggable] {
    background-color: darkseagreen;
}

.orange {
    background-color: lightsalmon;
}

.size {
    font-size: x-large;
}

.saim {
    font-size: xx-large;
}