html {
    background-color: antiquewhite;
}

h1 {
    color: darkslateblue;
    font-family: sans-serif;
}

#main {
    color: blueviolet;
}

p[draggable] {
    background-color: darkseagreen;
}

.orange {
    background-color: lightsalmon;
}

.size {
    font-size: x-large;
}

.saim {
    font-size: xx-large;
}

.hero-section {
    background-color: darkgoldenrod;
    padding: 40px 20px;
}

.contact {
    background-color: darkgray;
}

.test {
    width: 650px;
    height: 250px;
    background-image: url("https://i.pinimg.com/1200x/19/94/ac/1994acceeedfaa2e4687f10d90d0a641.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #333;
}