html {
    background-color: antiquewhite;
}

h1 {
    color: darkslateblue;
    font-family: sans-serif;
}

#main {
    color: blueviolet;
}

p[draggable] {
    background-color: darkseagreen;
}

.orange {
    background-color: lightsalmon;
}

.size {
    font-size: x-large;
}

.saim {
    font-size: xx-large;
}

.hero-section {
    background-color: darkgoldenrod;
    padding: 40px 20px;
}